/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

/* reset */
*, ::before, ::after {
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Cinzel Decorative', cursive;
    background-color: #fff;
}
.grille-accueil {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 70px 500px minmax(300px,1fr) / 600px 1fr 600px;
}

/* Menu section start */
.menu {
    grid-area: 1 / 1 / 2 / -1;
    width: 100%;
    height: 80px;
    font-family: 'Cinzel Decorative', cursive;
    z-index: 1000;
}
.titre-menu {
    margin-top: 0px;
    background: snow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 80px;
    position: relative;
    z-index: 200;
    border-bottom: 3px solid #F0DA5D;
}
.menu:hover > .titre-menu {
    border-bottom: 3px solid #F0DA5D;
}
.titre-menu::after {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background: black;
    top: 61px;
}
.liste-menu {
    background: snow;
    position: relative;
    z-index: 100;
    top: -580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    border-bottom: 3px solid #F0DA5D;
}
.titre-menu:hover + .liste-menu {
    transition: top 0.2s ease-in-out;
    top: 0px;
}
.liste-menu:hover {
    top: 0px;
}
.liste-menu li {
    margin: 10px 0;
}
.liste-menu li a, .contact span {
    text-decoration: none;
    font-size: 22px;
    color: black;
    position: relative;

}
.liste-menu .slide-line {
    font-size: 50px;
    text-decoration: none;
    color: #F0DA5D;
    position: relative;
}
.liste-menu .slide-line::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #F0DA5D;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
}
.liste-menu .slide-line:hover::after {
    transform-origin: 0 0;
    transform: scaleX(1);
}
/* Menu section end */
/* Presentation section */
.presentation {
    grid-area: 2 / 1 / 3 / 2;
    background: #fff;
    padding: 40px;
}
.presentation img {
    width: 80px;
}
.presentation h1 {
    font-size: 80px;
    font-weight: 700;
}
.presentation p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.3;
    font-family: 'Lateef', cursive;
}
.presentation a {
    padding: 15px;
    text-decoration: none;
    color: black;
    border: 3px solid #F0DA5D;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    width: 170px;
    text-align: center;
}
.presentation a:hover {
    color: #fff;
    background-color: #F0DA5D;
}
/* Presentation section end */
/* Slider section start */
.slider {
    grid-area: 2 / 2 / 3 / -1;
    position: relative;
}
.container-slides {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.container-slides img {
    position: absolute;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    display: block;
    transition: opacity 0.6s ease-in-out;
    /* filter: grayscale(1); */
}
img.active {
    opacity: 1;
}
.cont-btn {
    position: absolute;
    top: 85%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: black;
    background: #fff;
    border: 3px solid #F0DA5D;
}
.btn-nav:hover {
    background: #F0DA5D;
    border: 3px solid #fff;
}
.btn-nav img {
    width: 20px;
    height: 20px;
}
/* Slider section end */
/* Choice section start */
.choix {
    grid-area: 3 / 1 / 4 / 3;
    background: #F0DA5D;
    color: #fff;
    border: 4px solid black;
    /* border-bottom: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.titre-choix {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
}
.choix p {
    font-size: 2.2rem;
    line-height: 1.4;
    font-family: 'Lateef', cursive;
}
.go-galerie {
    font-size: 22px;
    display: block;
    margin: 20px auto 0;
    width: 300px;
    padding: 20px;
    text-decoration: none;
    border: 3px solid #000;
    text-align: center;
    border-radius: 5px;
    background: #F0DA5D;
    color: #fff;
}
.go-galerie:hover {
    transition: all 0.2s ease-in-out;
    background: snow;
    color: black;
}
.cont-medias {
    display: block;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
.media {
    margin: 10px 0;
    width: 60px;
    height: 60px;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media:hover {
    background-color: #000;
    border: 3px solid #fff;
}
.media img {
    width: 25px;
}
/* Choice section end */
/* Contact section start */
.contact {
    grid-area: 3 / 3 / 4 / 4;
    color: #000;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact h3{
    font-size: 4.5rem;
    padding-left: 50px;
}
.contact span {
    font-size: 4.5rem;
    font-family: 'Cinzel Decorative', cursive;
}
.contact span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #F0DA5D;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.contact span:hover::after {
    transform: scale(1);
}
.go-contact {
    flex-shrink: 0;
    margin-right: 105px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #F0DA5D;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}
.go-contact:hover {
    border: 3px solid #000;
    background-color: #F0DA5D;
}
.go-contact:hover {
    transform: scale(1.1);
}
.go-contact img {
    width: 45px;
    height: 45px;
}
/* Contact section end */
/* Footer section start */
footer {
    text-align: center;
    padding: 10px;
    margin-top: auto;
    font-size: 1.2rem;
}


/* @media screen and (max-width: 1400px){
    .cont-medias {
        display: none;
    }
} */

@media screen and (max-width: 1200px){
    .grille-accueil {
        grid-template: 70px 500px minmax(300px,1fr) / 400px 1fr 400px;
    }
    .contact h3 {
        font-size: 50px;
        padding-left: 50px;
    }
    .go-contact {
        width: 70px;
        height: 70px;
        margin-right: 55px;
    }
    .go-contact img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 950px){

    .titre-choix {
        font-size: 35px;
    }
    .go-galerie {
        font-size: 18px;
        width: 250px;
        padding: 18px;
    }

}

@media screen and (max-width: 800px){

    .presentation {
        padding: 30px;
    }
    .presentation h1 {
        font-size: 60px;
        margin-top: 5px;
    }

    .grille-accueil {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .slider {
        height: 300px;
    }
    .titre-choix {
        font-size: 28px;
        margin: 50px 10px 20px;
    }
    .go-galerie {
        font-size: 18px;
        width: 210px;
        padding: 10px;
        margin: 25px auto 65px;
    }
    .presentation{
        border-bottom: 3px solid transparent;
    }
    .contact {
        border-top: 3px solid red;
        display: block;
    }
    .contact h3 {
        padding-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    .go-contact {
        width: 70px;
        height: 70px;
        margin: 30px auto;
    }
    .go-contact img {
        width: 35px;
        height: 35px;
    }
    .cont-medias {
        display: none;
        left: 2%;
        top: 57%;
    }
    .media {
        width: 40px;
        height: 40px;
    }
}